/*
Theme Name: User Manual
Theme URI:  https://truo.com.br/
Author: User Manual
Author URI: https://truo.com.br/
Version: 1.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: 'truo'
*/

.separator {
    width: 100%;
    height: auto;
    margin: 0;
    clear: both;
    overflow: hidden;
    display: block;
    float: none;
}
.separator-10 { margin: 5px 0; }
.separator-20 { margin: 10px 0; }
.separator-30 { margin: 15px 0; }
.separator-40 { margin: 20px 0; }
.separator-50 { margin: 25px 0; }
.separator-60 { margin: 30px 0; }
.separator-70 { margin: 35px 0; }
.separator-80 { margin: 40px 0; }
.separator-90 { margin: 45px 0; }
.separator-100 { margin: 50px 0; }

body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

header {
    background-color: #34495e;
    padding: 30px 0;
}

header nav {
    background-color: transparent;
}

.navigation.pagination {
    background-color: transparent;
    box-shadow: none;
}

.navigation.pagination h2 {
    display: none;
}

.navigation.pagination .nav-links span,
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links a:link {
    display: inline-block;
    padding: 10px 20px;
    color: #34495e;
    font-size: 1rem;
    line-height: 2rem;
}

.navigation.pagination .nav-links span {
    color: white;
    background-color: #34495e;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #34495e;
}

.search {
    background-color: white;
    padding: 0;
    margin-bottom: 60px;
}

.search input {
    padding: 20px 10px;
    border: none;
    background-color: white;
    width: 100%;
}

.search input:focus {
    outline: none;
}

.card-content img {
    max-width: 100%;
}

.card .card-content.single p {
    margin-bottom: 20px;
}

.wp-caption img {
    max-width: 100% !important;
}

.widget {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}

.widget > p {
    margin-top: 0;
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #414141;
}

.widget a,
.widget a:link {
    color: #34495e;
}

.widget ul {
    background-color: #34495e;
}

.widget ul > li {
    background-color: white;
    border-bottom: solid 1px #ddd;
    padding: 15px 10px;
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    margin-left: 0;
}

.widget ul > li:hover {
    margin-left: 5px;
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
}

.widget ul > li:last-child {
    border-bottom: none;
}

footer {
    margin: 50px 0;
    padding-top: 50px;
    font-size: .8rem;
    color: #414141;
    text-align: center;
    border-top: solid 1px #ccc;
}